<% include ./partials/header %>

<h1>login</h1>



<form action="/login" method="POST">
    <input type="text" placeholder="Enter User name" name="username"></input>
    <input type="text" placeholder="Enter password" name="password"></input>
    <input type="submit" value="Login">
</form>

<% include ./partials/footer %>