<% include ./partials/header %>

<h1>Register page motherfuckaa</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="Enter User name" name="username"></input>
    <input type="text" placeholder="Enter password" name="password"></input>
    <button>Sign Up</button>
</form>

<% include ./partials/footer %>